/* ----- Lib ----- */
/*----- Base -----*/
@font-face {
  font-family: "GosmickSans";
  src: url("../../fonts/GosmickSans.ttf");
}

:root {
  font-size: 12px;
}

body {
  color: #222;
  background-color: #f2f2f2;
}

h2:target {
  padding-top: 60px;
  transition: .6s;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

/*----- Cuerpo -----*/
.header {
  position: sticky;
  z-index: 50;
  top: 0;
  width: 100%;
  min-height: 40px;
  background-color: #ff0062;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.navBtns {
  text-align: center;
  font-size: 20px;
  position: absolute;
  left: 100%;
  cursor: pointer;
  color: #000;
}

@media (min-width: 600px) {
  .navBtns {
    display: none;
  }
}

.navBtns > * {
  padding: 5px 10px;
  line-height: 30px;
  width: 40px;
  transition: color .2s;
}

.navBtns > *:hover {
  color: #fff;
}

.header__nav {
  font-family: GosmickSans;
  position: absolute;
  z-index: 70;
  max-width: 300px;
  width: 60vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #ff0062;
  transform: translateX(-100%);
  transition: transform .5s ease-out;
}

.header__nav > * {
  background-color: #ff0062;
}

.nav__li {
  padding-left: 10px;
  font-size: 1.4rem;
}

.nav__li > p {
  color: #fff;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.nav__li li {
  padding-left: 20px;
}

@media (min-width: 600px) {
  .nav__li > p {
    text-shadow: none;
  }
  .nav__li li {
    padding-left: 0;
  }
  .nav__li {
    font-size: 1rem;
    padding: 5px 10px;
  }
}

.nav__ul li {
  color: #fff;
  width: 100%;
  cursor: pointer;
  line-height: 30px;
  position: relative;
}

.nav__ul li:hover {
  background-color: #000a;
}

.nav__ul li:hover > ul {
  width: 100%;
  display: block;
  z-index: 1;
}

@media (min-width: 600px) {
  .nav__ul li > ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444a;
    padding: 0;
  }
}

.nav__ul a {
  padding: 5px 10px;
  line-height: 30px;
  display: block;
  padding-left: 10px;
  font-size: 1.4rem;
  transition: background-color .2s, padding .4s;
}

.nav__ul a:hover {
  background-color: #000a;
}

@media (max-width: 600px) {
  .nav__ul a:hover {
    padding-left: 35px;
  }
}

.navNoMobile {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}

.navNoMobile .nav__ul {
  margin: auto;
  display: flex;
  justify-content: center;
}

.navNoMobile .nav__ul hr {
  width: 2px;
  background-color: #fff;
  border: none;
}

.navNoMobile .nav__ul li {
  width: auto;
}

.navNoMobile .nav__ul .nav__links {
  height: 40px;
  padding: 5px 5px;
  font-size: 1rem;
  text-align: center;
}

.hide {
  display: none;
}

.showNav {
  transform: translateX(0);
}

.bgNav {
  background-color: #000a;
  position: fixed;
  z-index: 60;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity .5s;
}

.bgNavOpen {
  z-index: 40;
  display: block;
  opacity: 1;
}

#searchForm {
  width: 150px;
  height: 100%;
}

#searchForm :focus {
  background-color: #fff;
  outline: none;
}

.searchBarResults {
  position: fixed;
  z-index: 10;
  right: 10px;
  top: 0px;
  height: 100%;
  max-width: 300px;
  width: 80%;
  min-height: 40px;
  overflow: auto;
  transform: translateY(-100%);
}

.searchBarResults .resulstWarning {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  color: #000;
}

.showBarInput {
  top: 40px;
  transition: transform .5s ease-in-out;
  transform: translateY(0%);
}

#searchInput {
  text-align: center;
  text-decoration: none;
  position: relative;
  background-color: #fff;
  width: 100%;
  border: none;
  padding: 5px;
  border-radius: 3px;
  z-index: 5;
}

#searchInput::placeholder {
  text-align: center;
}

.wrapperItem {
  background-color: #fff;
  width: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;
}

.wrapperItem .zoomBtn {
  display: none;
}

.wrapperItem p {
  color: #000;
}

.wrapperItem .itemWrapped {
  width: 30%;
  height: 30%;
  margin-right: 20px;
}

.wrapperItem:hover {
  background-color: #222;
}

.wrapperItem:hover p {
  color: #fff;
}

.landingIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingIntro .infografia-ENVIOS {
  width: 90%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingIntro .infografia-ENVIOS img {
  width: 50%;
}

.landingIntro .main__intro {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.landingIntro .main__intro::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #000;
  margin-top: 20px;
  margin-bottom: 10px;
}

.landingIntro .main__intro img {
  margin: 0 auto;
  max-width: 90%;
}

.landingIntro .main__intro p {
  font-size: 16px;
}

@media (min-width: 600px) {
  .landingIntro .main__intro p {
    font-size: 2rem;
  }
}

.landingIntro .banner {
  overflow: hidden;
  width: 100%;
  height: 50vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.landingIntro .banner:target {
  padding-top: 40px;
}

.landingIntro .banner video {
  width: auto;
  height: 100vh;
}

.landingIntro .banner .imgLogo_banner {
  object-fit: contain;
  object-position: center;
}

.main {
  max-width: 850px;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}

.leyend {
  text-align: center;
  font-size: 1.3rem;
  color: #f00;
  box-shadow: 0 0 5px #000;
  border-radius: 3px;
  padding: 10px 0;
  margin-bottom: 20px;
}

.leyend p:first-child {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.contain-cards > h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .contain-cards > h2 {
    font-size: 3.5rem;
  }
}

.content__articles-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
  margin-bottom: 80px;
}

@media (min-width: 600px) {
  .content__articles-cards {
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    grid-gap: 20px;
  }
}

.article {
  max-width: 450px;
  width: 100%;
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #aaa;
}

.article:target {
  border: 2px solid #f00;
  position: relative;
}

.article__img {
  position: relative;
  width: 50%;
  border-radius: 5px 0 0 5px;
}

.article__img img {
  object-fit: contain;
  display: block;
  border-radius: 10px 0 0 10px;
}

.article__img .zoomBtn {
  background-color: #fffa;
  color: #000;
  position: absolute;
  border: none;
  outline: none;
  font-size: 1.5rem;
  padding: 5px 10px;
  border-radius: 10px 0 0 0;
  top: 0;
  left: 0;
  cursor: pointer;
  user-select: none;
}

.aside__header span:after {
  text-transform: lowercase;
  font-family: sans-serif;
  content: " ml";
}

.article__aside {
  width: 50%;
  display: block;
  padding: 10px;
}

.article__aside h2 {
  margin-bottom: 20px;
}

.article__aside h3 {
  margin-bottom: 10px;
}

.article__aside .discontinuedTitle {
  font-family: sans-serif;
  color: #f00;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.article__aside p {
  text-align: center;
}

.containerCardZoom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 70;
  background-color: #000c;
}

.cardZoom {
  background-color: transparent;
  font-size: 16px;
  position: fixed;
  z-index: 75;
  top: 20px;
  left: 0;
  right: 0;
  width: 90vw;
  max-height: 700px;
  height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  cursor: auto;
}

@media (min-width: 600px) {
  .cardZoom {
    font-size: 16px;
  }
}

.cardZoom .zoomBtn {
  display: none;
}

.cardZoom img {
  object-fit: contain;
  object-position: top;
  width: 100;
  height: 80%;
  margin-bottom: 10px;
}

.cardZoom .article__img {
  padding: 20px;
  margin: 0;
  margin: auto;
  width: 50%;
  min-height: 30%;
  position: relative;
}

.cardZoom .article__img,
.cardZoom .article__aside {
  display: block;
}

.cardZoom .article__img h2,
.cardZoom .article__aside h2 {
  margin-bottom: 50px;
}

.cardZoom .article__img h3,
.cardZoom .article__aside h3 {
  font-size: 1em;
  font-weight: lighter;
  margin-bottom: 15px;
}

.cardZoom .article__img p,
.cardZoom .article__aside p {
  font-weight: bolder;
  font-size: 1.2em;
  width: 100%;
}

.cardZoom .article__aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  height: auto;
  margin: auto;
  padding: 20px;
}

.cardZoom .closeClon {
  font-family: sans-serif;
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  user-select: none;
  cursor: pointer;
  z-index: 80;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
}

/* ----- Modal ----- */
/*----- Layout -----*/
.footer {
  padding-top: 10px;
  padding-bottom: 100px;
  width: 100%;
  background-color: #444;
  color: #fff;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  line-height: 20px;
}

.footer > * {
  width: 100%;
  text-align: center;
}

.footer span {
  text-decoration: underline;
}

.footer p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
/*# sourceMappingURL=style.css.map */