@charset "UTF-8";
/* ----- Lib ----- */
/*----- Base -----*/
:root {
  font-size: 12px;
}

body {
  color: #222;
  background-color: #f2f2f2;
}

h2:target {
  padding-top: 60px;
  transition: 0.6s;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: blue;
}
a:visited {
  color: blue;
}

/*----- Cuerpo -----*/
.header {
  position: sticky;
  z-index: 50;
  top: 0;
  width: 100%;
  min-height: 40px;
  background-color: #ff0062;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.navBtns {
  text-align: center;
  font-size: 20px;
  position: absolute;
  left: 100%;
  cursor: pointer;
  color: #000;
}
@media (min-width: 600px) {
  .navBtns {
    display: none;
  }
}
.navBtns > * {
  padding: 5px 10px;
  line-height: 30px;
  width: 40px;
  transition: color 0.2s;
}
.navBtns > *:hover {
  color: #fff;
}

.header__nav {
  font-family: sans-serif;
  position: absolute;
  z-index: 70;
  max-width: 300px;
  width: 60vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #ff0062;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
}
.header__nav > * {
  background-color: #ff0062;
}

.nav__ul li {
  width: 100%;
}

.nav__ul a {
  padding: 5px 10px;
  line-height: 30px;
  display: block;
  padding-left: 10px;
  font-size: 1.4rem;
  color: #fff;
  transition: background-color 0.2s, padding 0.4s;
}
.nav__ul a:hover {
  background-color: #000a;
}
@media (max-width: 600px) {
  .nav__ul a:hover {
    padding-left: 35px;
  }
}

.navNoMobile {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}
.navNoMobile .nav__ul {
  margin: auto;
  display: flex;
  justify-content: center;
}
.navNoMobile .nav__ul hr {
  border: 1px solid #fff;
}
.navNoMobile .nav__ul li {
  width: auto;
}
.navNoMobile .nav__ul .nav__links {
  font-family: sans-serif;
  height: 40px;
  padding: 5px 5px;
  font-size: 1rem;
  text-align: center;
}

.hide {
  display: none;
}

.showNav {
  transform: translateX(0);
}

.bgNav {
  background-color: #000a;
  position: fixed;
  z-index: 60;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.5s;
}

.bgNavOpen {
  z-index: 40;
  display: block;
  opacity: 1;
}

#searchForm {
  width: 150px;
  height: 100%;
}
#searchForm :focus {
  background-color: #fff;
  outline: none;
}

.searchBarResults {
  position: fixed;
  z-index: 10;
  right: 10px;
  top: 0px;
  height: 100%;
  max-width: 300px;
  width: 80%;
  min-height: 40px;
  overflow: auto;
  transform: translateY(-100%);
}
.searchBarResults .resulstWarning {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  color: #000;
}

.showBarInput {
  top: 40px;
  transition: transform 0.5s ease-in-out;
  transform: translateY(0%);
}

#searchInput {
  text-align: center;
  text-decoration: none;
  position: relative;
  background-color: #fff;
  width: 100%;
  border: none;
  padding: 5px;
  border-radius: 3px;
  z-index: 5;
}
#searchInput::placeholder {
  text-align: center;
}

.wrapperItem {
  background-color: #fff;
  width: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;
}
.wrapperItem p {
  color: #000;
}
.wrapperItem .itemWrapped {
  width: 30%;
  height: 30%;
  margin-right: 20px;
}
.wrapperItem:hover {
  background-color: #222;
}
.wrapperItem:hover p {
  color: #fff;
}

.banner {
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.banner:target {
  padding-top: 40px;
}
.banner img {
  width: 100%;
  height: 300px;
}
@media (min-width: 600px) {
  .banner img {
    width: 100%;
    height: 600px;
    max-width: 1000px;
  }
}
.banner .imgLogo_banner {
  --size-logo-highVP: 600px;
  --size-logo-lowVP: 300px;
  width: var(--size-logo-lowVP);
  height: var(--size-logo-lowVP);
  position: absolute;
  background-color: transparent;
}
@media (min-width: 600px) {
  .banner .imgLogo_banner {
    width: var(--size-logo-highVP);
    height: var(--size-logo-highVP);
    max-width: 1000px;
  }
}

.main {
  max-width: 850px;
  width: 90%;
  margin: 0 auto;
}
.main .main__intro {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main .main__intro::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #000;
  margin-top: 20px;
  margin-bottom: 10vh;
}
.main .main__intro img {
  margin: 0 auto;
  max-width: 90%;
}
.main .main__intro p {
  font-size: 1rem;
}

.contain-cards > h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  .contain-cards > h2 {
    font-size: 3.5rem;
  }
}

.content__articles-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-gap: 50px;
  margin-bottom: 80px;
}
@media (min-width: 600px) {
  .content__articles-cards {
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    grid-gap: 20px;
  }
}

.article {
  max-width: 450px;
  width: 100%;
  background-color: #fff;
  display: flex;
  cursor: pointer;
}
.article:target {
  position: relative;
  padding-top: 50px;
  background-color: transparent;
  animation-name: articleSelected;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes articleSelected {
  0%, 100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
}
.article__img {
  position: relative;
  width: 100%;
  margin: auto;
}
.article__img img {
  display: block;
}
@media (min-width: 600px) {
  .article__img:hover img {
    filter: blur(4px);
  }
}
.article__img:hover:after {
  content: "Ver más";
  font-family: sans-serif;
  position: absolute;
  display: block;
  font-size: 38px;
  background-color: #0006;
  height: 60px;
  color: #fff;
  text-shadow: 0 0 5px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.aside__header span:after {
  text-transform: lowercase;
  font-family: sans-serif;
  content: " ml";
}

.article__aside {
  display: none;
  padding: 10px;
}
.article__aside h2 {
  margin-bottom: 20px;
}
.article__aside h3 {
  margin-bottom: 10px;
}
.article__aside p {
  text-align: center;
}

.containerCardZoom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 70;
  background-color: #000c;
}

.cardZoom {
  background-color: #fff;
  font-size: 16px;
  position: fixed;
  z-index: 75;
  top: 50px;
  left: 0;
  right: 0;
  width: 75%;
  max-height: 80vh;
  flex-direction: column;
  box-shadow: 0 0 10px #eeea;
  margin: auto;
  cursor: auto;
}
@media (min-width: 600px) {
  .cardZoom {
    font-size: 16px;
  }
}
.cardZoom:hover img {
  filter: blur(0);
}
.cardZoom:hover:after {
  content: "";
  display: none;
  position: absolute;
  display: block;
  font-size: 50px;
  color: #fff;
  text-shadow: 0 0 5px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.cardZoom .article__img {
  padding: 20px;
  margin: 0;
  margin: auto;
  width: 50%;
  min-height: 30%;
}
.cardZoom .article__img,
.cardZoom .article__aside {
  display: block;
}
.cardZoom .article__img h2,
.cardZoom .article__aside h2 {
  margin-bottom: 50px;
}
.cardZoom .article__img h3,
.cardZoom .article__aside h3 {
  font-size: 1em;
  font-weight: lighter;
  margin-bottom: 15px;
}
.cardZoom .article__img p,
.cardZoom .article__aside p {
  font-weight: bolder;
  font-size: 1.2em;
  width: 100%;
}
.cardZoom .article__aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  height: auto;
  margin: auto;
  padding: 20px;
}
.cardZoom .closeClon {
  font-family: sans-serif;
  background-color: red;
  padding: 10px;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 80;
}

/* ----- Modal ----- */
/*----- Layout -----*/
.footer {
  padding-top: 10px;
  padding-bottom: 100px;
  width: 100%;
  background-color: #444;
  color: #fff;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  line-height: 20px;
}
.footer > * {
  width: 100%;
  text-align: center;
}
.footer span {
  text-decoration: underline;
}
.footer p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}/*# sourceMappingURL=style.css.map */