.content__articles-cards {
    display: flex;
    flex-direction: column;
    h2 {
        margin: 40px 0;
    }
    .article {
        $b-radius: 10px;
        $width-img: 55%;
        $width-aside: 45%;

        margin-bottom: 20px;
        display: flex;
        width: 100%;
        border-radius: $b-radius;
        box-shadow: 5px 5px 10px -5px #444;
        .article__img {
            width: $width-img;
            @media (min-width: 600px) {
               width: calc( #{$width-img} - 20%);
            }
            img {
                display: block;
                max-width: 100%;
                border-radius: $b-radius;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        .article__aside {
            padding: 10px;
            width: $width-aside;
            display: flex;
            flex-direction: column;
            // background-color: red;
            @media (min-width: 600px) {
                width: calc(#{$width-aside} + 20%);
            }
            .aside__header{
                margin-bottom: 20px;
                h1 {
                    font-size: 1rem;
                    span::before {
                        text-transform: lowercase;
                        content: " X "
                    }
                    span::after {
                        text-transform: lowercase;
                        content: "ml."
                    }
                }
            }
            .aside__main {
                text-align: center;
                    .subtittle {
                        margin-bottom: 10px;

                    }
            }
        }
    }
}
// actualizacion forzada