.contain-cards > h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  @media (min-width: 600px) {
    font-size: 3.5rem;
  }
}
.content__articles-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
  margin-bottom: 80px;
  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    grid-gap: 20px;
  }
}
.article {
  max-width: 450px;
  width: 100%;
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #aaa;

  &:target {
    border: 2px solid #f00;
    position: relative;
  }
}
.article__img {
  position: relative;
  width: 50%;
  border-radius: 5px 0 0 5px;
  img {
    object-fit: contain;
    display: block;
    border-radius: 10px 0 0 10px;
  }

  .zoomBtn {
    background-color: #fffa;
    color: #000;
    position: absolute; 
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 5px 10px;
    border-radius: 10px 0 0 0;
    top: 0;
    left: 0;
    cursor: pointer;
    user-select: none;
  }
  
}
// .aside__header span:after {
//   text-transform: lowercase;
//   font-family: sans-serif;
//   content: " ml";
// }
.aside__header {
  margin-bottom: 20px;
  .header__volume {
    text-transform: lowercase;
  }
}
.article__aside {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  @media (max-width: 600px) {
    h2 {
      font-size: 1rem;
    }
  }
  h3 {
    margin-bottom: 10px;
  }
  
  .aside__price {
    font-size: 16px;
    text-align: center;
    margin-top: auto;
  }

  .highlightedParraph {
    font-family: sans-serif;
    color: #f00;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.2em;
  }
  
  p {
    text-align: center;
  }
}