.main {
    max-width: 850px;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}
.leyend {
    text-align: center;
    font-size: 1.3rem;
    color: #f00;
    box-shadow: 0 0 5px #000;
    border-radius: 3px;
    padding: 10px 0;
    margin-bottom: 20px;
    p:first-child {
        font-size: 1.5rem;
        font-weight: bolder;
        margin-bottom: 10px;
    } 
}