.contain-cards > h2 {
  font-size: 2rem;
  margin-bottom: 20px; }
  @media (min-width: 600px) {
    .contain-cards > h2 {
      font-size: 3.5rem; } }

.content__articles-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
  margin-bottom: 80px; }
  @media (min-width: 600px) {
    .content__articles-cards {
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      grid-gap: 20px; } }

.article {
  max-width: 450px;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px #aaa;
  box-shadow: 5px 5px 5px #aaa; }
  .article:target {
    border: 2px solid #f00;
    position: relative; }

.article__img {
  position: relative;
  width: 50%;
  border-radius: 5px 0 0 5px; }
  .article__img img {
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
    border-radius: 10px 0 0 10px; }
  .article__img .zoomBtn {
    background-color: #fffa;
    color: #000;
    position: absolute;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 5px 10px;
    border-radius: 10px 0 0 0;
    top: 0;
    left: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.aside__header span:after {
  text-transform: lowercase;
  font-family: sans-serif;
  content: " ml"; }

.aside__header {
  margin-bottom: 20px; }

.article__aside {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px; }
  @media (min-width: 600px) {
    .article__aside h2 {
      font-size: 1rem; } }
  .article__aside h3 {
    margin-bottom: 10px; }
  .article__aside .aside__price {
    font-size: 16px;
    text-align: center;
    margin-top: auto; }
  .article__aside .highlightedParraph {
    font-family: sans-serif;
    color: #f00;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.2em; }
  .article__aside p {
    text-align: center; }
