.main {
  max-width: 850px;
  width: 90%;
  margin: 0 auto; }
  .main .main__intro {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .main .main__intro::after {
      content: "";
      display: block;
      height: 1px;
      background-color: #000;
      margin-top: 20px;
      margin-bottom: 10vh; }
    .main .main__intro img {
      margin: 0 auto;
      max-width: 90%; }
      @media (min-width: 600px) {
        .main .main__intro img {
          max-width: 70%; } }
    .main .main__intro p {
      font-size: 1rem; }
